.impowerBox .title,.status_icon {
    display: none;
}
.impowerBox .info,.impowerBox .qrcode {
    display: inline-block;
    vertical-align:middle;
}
.impowerBox .qrcode {
    width: 150px;
    height:150px;
}
.impowerBox .status {
    text-align:center;
}
iframe{
    width:100% !important;
    height:100% !important;
}
